### Fortran ###
# Prerequisites
*.d
/output/*
/files/*
/inputs/*
/namelist/*
/utils/*.dat
/jobs/*
experiences
SConstruct
out*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macos
*.DS_store

### SCons ###
build/
# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite
godar
SConstruct
# When configure fails, SCons outputs these
config.log
.sconf_temp

**.mp4
**.png
**.pdf
**/__pycache__/*
**~
